name: Test
on:
  push:
    branches:
      - "*"
    paths:
    - '**/*.go'
  pull_request:
    paths:
    - '**/*.go'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Run tests
        run: |
          go test ./...
